<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://localhost:5432/autoservice_db</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">1304</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <mapping class="com.senla.task1.models.Mechanic"/>
        <mapping class="com.senla.task1.models.Order"/>
        <mapping class="com.senla.task1.models.GaragePlace"/>
    </session-factory>
</hibernate-configuration>