<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleLogger" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" charset="UTF-8"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.senla.producer" level="info" additivity="false">
            <AppenderRef ref="ConsoleLogger"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="ConsoleLogger"/>
        </Root>
    </Loggers>
</Configuration>